.DS_Store
NPSegmentedControl.xcodeproj/project.xcworkspace/xcuserdata/savepanda.xcuserdatad/UserInterfaceState.xcuserstate
NPSegmentedControl.xcodeproj/xcuserdata/savepanda.xcuserdatad/xcschemes/NPSegmentedControl.xcscheme
NPSegmentedControl.xcodeproj/xcuserdata/savepanda.xcuserdatad/xcschemes/xcschememanagement.plist
NPSegmentedControl.xccheckout
